:root {
  --primario: #8600d3bd;
  --secundario: #cb0083;
  --blanco: #fff;
  --negro: #000000;
  --fuentePrincipal: "Raleway", sans-serif;
  --fuenteLogo: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

[class$="__contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: center;
  margin-bottom: 5rem;
}

.contenedor {
  margin: 0 auto;
  max-width: 120rem;
}

/*Header*/

.header__navegacion {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
}

.header__logo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__logoInfo {
  display: flex;
  flex-direction: column;
  font-family: var(--fuenteLogo);
}

.header__logoNombre {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__logoRegistro {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 128.9%;
}

.header__contactos {
  display: flex;
  justify-content: flex-end;
  gap: 3.9rem;
  flex-grow: 1;
}

.header__email,
.header__telefono {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__emailInfo,
.header__telefonoInfo {
  display: flex;
  flex-direction: column;
  color: var(--negro);
  font-size: 1.4rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 135.023%;
}

.header__emailLink,
.header__telefonoLink {
  color: var(--negro);
}

/*hero*/
.header__hero {
  background-image: url(../img/Lago.png);
  height: 59rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header__heroBarra {
  height: 7.8rem;
  background-color: var(--primario);
  display: flex;
  align-items: center;
}

.header__heroNav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.header__heroNavegacion {
  display: flex;
}

.header__heroNavegacion a {
  padding: 0 3rem;
  border-left: 1px solid #ffffff33;
  color: var(--blanco);
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
}

.header__heroNavegacion a:first-child {
  border-left: none;
}

.header__heroNavegacion a:last-child {
  padding-right: 0;
}

.hero__logo {
  width: 23.4202rem;
  height: 5.219rem;
  margin-left: -2rem;
  margin-bottom: 2rem;
}

.header__heroGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(59rem - 7.8rem);
  align-items: center;
}

.header__heroInfo h2 {
  color: var(--blanco);
  font-size: 6rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__heroInfo p {
  color: var(--blanco);
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
}

.hero__btn {
  display: block;
  padding: 1.5rem 0.25rem;
  width: 27%;
  text-align: center;
  color: var(--blanco);
  border-radius: 0.8rem;
  background-color: var(--secundario);
  margin-top: 2.7rem;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 700;
  line-height: 135.023%;
}

.header__heroPattern {
  background-image: url(..);
}
