:root {
  --primario: #8600d3bd;
  --primario-obscuro: #8600d3;
  --secundario: #cb0083;
  --secundario-claro: #e20086;
  --blanco: #fff;
  --negro: #000000;
  --fuentePrincipal: "Raleway", sans-serif;
  --fuenteLogo: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

[class$="__contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="__heading"] {
  text-align: center;
  margin-bottom: 5rem;
}

/*Header*/
.header__navegacion {
  display: none;
}

@media (min-width: 1024px) {
  .header__navegacion {
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }
}

.header__logo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__logoInfo {
  display: flex;
  flex-direction: column;
  font-family: var(--fuenteLogo);
}

.header__logoNombre {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.header__logoRegistro {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 128.9%;
}

.header__contactos {
  display: flex;
  justify-content: flex-end;
  gap: 3.9rem;
  flex-grow: 1;
}

.header__email,
.header__telefono {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__emailInfo,
.header__telefonoInfo {
  display: flex;
  flex-direction: column;
  color: var(--negro);
  font-size: 1.4rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 135.023%;
}

.header__emailLink,
.header__telefonoLink {
  color: var(--negro);
}

/*Hero*/
.header__hero {
  background-image: url(../img/Lago-Movil.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
}

@media (min-width: 768px) {
  .header__hero {
    background-image: url(../img/Lago.webp);
    height: 59rem;
    background-position: top;
    background-position: center;
  }
}

.header__heroBarra {
  background-color: var(--primario);
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header__heroBarra {
    height: 7.8rem;
    align-items: center;
  }
}

.header__heroNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  padding: 1rem 3rem;
}

@media (min-width: 768px) {
  .header__heroNav {
    padding: 0;
  }
}

.header__hamburguerButton {
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  border: 0;
  background: transparent;
  gap: 0.65rem;
  cursor: pointer;
  padding-top: 1rem;
}

.header__hamburguerButton > div {
  background: var(--blanco);
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

.header__hamburguerButton:hover div:first-child {
  transform: rotate(45deg);
}
.header__hamburguerButton:hover div:nth-child(2) {
  opacity: 0;
}

.header__hamburguerButton:hover div:last-child {
  transform: rotate(-45deg);
}

.header__hamburguerButton svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--blanco);
}

@media (min-width: 768px) {
  .header__hamburguerButton {
    display: none;
  }
}

.header__heroNavegacion {
  display: none;
  width: 100%;
  transition: all 0.5s ease;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

@media (min-width: 768px) {
  .header__heroNavegacion {
    display: block;
    height: 100%;
    opacity: 0.9;
    pointer-events: auto;
  }
}

.header__heroNavegacion.activo {
  display: block;
  height: 40vh;
  pointer-events: auto;
  opacity: 0.9;
}

.header__heroNavegacionUl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex-direction: column;
  padding-inline-start: 0;
}

@media (min-width: 768px) {
  .header__heroNavegacionUl {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .header__heroNavegacionUl {
    justify-content: flex-end;
    padding: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .header__heroNavegacionUl {
    padding: 0 2rem;
  }
}

.header__heroNavegacionUl li {
  list-style-type: none;
  margin: 1rem auto;
  align-items: center;
}

@media (min-width: 768px) {
  .header__heroNavegacionUl li {
    border-left: 1px solid #ffffff33;
    padding: 0 3rem;
    margin: 0;
  }
}

.header__heroNavegacionUl li:first-of-type {
  border-left: none;
}

.header__heroNavegacionUl li:last-of-type {
  padding-right: 0;
}

.header__heroNavegacionUl a {
  color: var(--blanco);
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
  padding: 1rem 10px;
  margin: 2rem 0;
  position: relative;
  cursor: pointer;
  opacity: 0.9;
}

.header__heroNavegacionUl a:after {
  content: "";
  position: absolute;
  background-color: var(--blanco);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s ease;
}

.header__heroNavegacionUl a:hover {
  opacity: 1;
}

.header__heroNavegacionUl a:hover:after {
  width: 100%;
}

.hero__logo {
  width: 23.4202rem;
  height: 5.219rem;
  margin-left: -4rem;
  margin-bottom: 3rem;
}

.header__heroGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .header__heroGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(59rem - 7.8rem);
  }
}

.header__heroInfo--desktop {
  display: none;
}

.header__heroLogo--movil {
  margin: 0 auto;
  padding: 2rem 0;
}

.header__heroInfo--movil h1 {
  color: var(--blanco);
  text-align: center;
  font-size: 3.2rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 60%;
  margin: 0 auto 3rem auto;
}

.header__heroInfo--movil p {
  color: var(--blanco);
  text-align: center;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
  width: 70%;
  margin: 0 auto 3rem auto;
}

.header__heroInfo--movil .hero__btn {
  display: block;
  padding: 1.75rem 1.5rem;
  width: 150px;
  text-align: center;
  color: var(--blanco);
  border-radius: 0.8rem;
  background-color: var(--secundario);
  margin-top: 2.7rem;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 700;
  line-height: 135.023%;
  margin: 0 auto 6rem auto;
  cursor: pointer;
  transition-property: transform background-color;
  transition-duration: 0.3s ease;
}

@media (min-width: 768px) {
  .header__heroInfo--movil {
    display: none;
  }

  .header__heroInfo--desktop {
    display: block;
  }

  .header__heroInfo--desktop h1 {
    color: var(--blanco);
    font-size: 4rem;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
  }

  .header__heroInfo--desktop p {
    color: var(--blanco);
    font-size: 1.5rem;
    font-family: Krub;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
    margin-top: 1rem;
  }

  .header__heroInfo--desktop .hero__btn {
    display: block;
    padding: 1.5rem 0.25rem;
    width: 150px;
    text-align: center;
    color: var(--blanco);
    border-radius: 0.8rem;
    background-color: var(--secundario);
    margin-top: 2.7rem;
    font-size: 1.6rem;
    font-family: Krub;
    font-style: normal;
    font-weight: 700;
    line-height: 135.023%;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  .header__heroInfo--movil {
    display: none;
  }

  .header__heroInfo--desktop {
    display: block;
  }

  .header__heroInfo--desktop h1 {
    color: var(--blanco);
    font-size: 6rem;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1rem;
  }

  .header__heroInfo--desktop p {
    color: var(--blanco);
    font-size: 1.6rem;
    font-family: Krub;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
    margin-top: 1rem;
  }

  .header__heroInfo--desktop .hero__btn {
    display: block;
    padding: 1.5rem 0.25rem;
    width: 150px;
    text-align: center;
    color: var(--blanco);
    border-radius: 0.8rem;
    background-color: var(--secundario);
    margin-top: 2.7rem;
    font-size: 1.6rem;
    font-family: Krub;
    font-style: normal;
    font-weight: 700;
    line-height: 135.023%;
    cursor: pointer;
  }
}

.hero__btn:hover {
  background-color: var(--secundario-claro);
}

.hero__btn:active {
  transform: scale(0.9);
}

.header__heroPattern {
  background-image: url(../img/Pattern-Hero.svg);
  height: 6rem;
}

/*Condiciones*/
.condiciones {
  margin: 7rem 0 0 0;
}

.condiciones__contenedor {
  width: 100%;
}

@media (min-width: 768px) {
  .condiciones {
    margin: 15rem 0 5rem 0;
  }

  .condiciones__contenedor {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 1024) {
  .condiciones__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
  }
}

.condiciones__heading {
  color: var(--negro);
  font-size: 2.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 3rem 0 3rem;
}

@media (min-width: 768px) {
  .condiciones__heading {
    font-size: 3rem;
    padding: 0 2rem 0 2rem;
  }
}

@media (min-width: 1024px) {
  .condiciones__heading {
    font-size: 3.5rem;
  }
}

.condiciones__heading--primario {
  color: var(--primario-obscuro);
}

.condiciones__grid {
  margin-top: 5rem;
  background-color: #f4f4f4;
}

@media (min-width: 1200px) {
  .condiciones__grid {
    background-color: transparent;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4.8rem;
  }
}

.condiciones__aside {
  color: var(--primario-obscuro);
  font-size: 2.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 4rem 3rem 0 3rem;
}

@media (min-width: 768px) {
  .condiciones__aside {
    padding: 4rem 10rem 2rem 10rem;
  }
}

@media (min-width: 1024px) {
  .condiciones__aside {
    padding: 4rem 10rem 6rem 10rem;
  }
}

@media (min-width: 1200px) {
  .condiciones__aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 3.2rem;
    text-align: left;
    padding: 2rem 2rem 0 4rem;
  }
}

.listado-condiciones {
  padding: 1.5rem;
  border-bottom: none;
}

@media (min-width: 1024px) {
  .listado-condiciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #ebebeb;
  }
}

.condicion {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2rem;
  align-items: center;
  margin: 5rem auto;
  transition-property: transform;
  transition-duration: 0.3s;
}

@media (min-width: 768px) {
  .condicion {
    flex-direction: row;
    width: 59rem;
    gap: 6rem;
    align-items: flex-start;
    margin: 4rem auto;
  }
}

@media (min-width: 1024px) {
  .condicion {
    width: 39rem;
    gap: 4rem;
    margin: 0 auto;
  }
}

.condicion:hover {
  transform: scale(1.1);
}

.condicion__icono {
  height: 10rem;
}

@media (min-width: 768px) {
  .condicion__icono {
    border-right: 1px solid #d8d8d8;
    padding-right: 2.9rem;
  }
}

.condicion__imagen {
  max-width: none;
}

.condicion__imagen-Beneficiarios {
  width: 7rem;
  height: 6.8rem;
}

.condicion__imagen-Territorialidad {
  width: 7rem;
  height: 11rem;
}

.condicion__imagen-Beneficios {
  width: 7rem;
  height: 7rem;
}

.condicion__imagen-Cobertura {
  width: 7rem;
  height: 12rem;
}

.condicion__title {
  color: #1c1f35;
  font-size: 2.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .condicion__title {
    text-align: left;
  }
}

.condicion__description {
  color: #666c89;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
  text-align: center;
}

@media (min-width: 768px) {
  .condicion__description {
    text-align: left;
  }
}

.respaldo {
  margin: 0;
  padding-bottom: 6rem;
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .respaldo {
    margin: 5rem 0;
    padding-bottom: 0;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .respaldo__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-bottom: 0;
  }
}

.respaldo__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .respaldo__flex {
    align-items: flex-end;
    margin-bottom: 0;
  }
}

.respaldo__logoMAPFRE {
  width: 22.7rem;
  height: 4.7rem;
}

@media (min-width: 768px) {
  .respaldo__logoMAPFRE {
    margin-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .respaldo__logoMAPFRE {
    margin-right: 0;
  }
}

.respaldo__title {
  color: #1c1f35;
  font-size: 2.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
  text-align: center;
}

.respaldo__description {
  color: #666c89;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
  text-align: center;
}

@media (min-width: 768px) {
  .respaldo__info {
    width: 80%;
  }
  .respaldo__title {
    margin-bottom: 0.8rem;
    text-align: left;
  }

  .respaldo__description {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .respaldo__info {
    width: 100%;
  }
}

/*Cobertura*/
@media (min-width: 1024px) {
  .cobertura {
    height: 51.2rem;
    background-color: #f4f4f4;
  }
}

@media (min-width: 1200px) {
  .cobertura {
    height: 61.2rem;
  }
}

.cobertura__heading {
  color: var(--primario-obscuro);
  font-size: 2.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5rem 0 2rem 0;
  margin: 0;
}

@media (min-width: 768px) {
  .cobertura__heading {
    font-size: 3rem;
    padding: 5rem 0 5rem 0;
  }
}

@media (min-width: 1024px) {
  .cobertura__heading {
    font-size: 3.5rem;
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 1024px) {
  .cobertura__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.cobertura__imagenFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cobertura__imagen {
  margin: 0 auto;
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .cobertura__imagen {
    width: 90%;
    max-width: 100%;
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .cobertura__imagen {
    padding: 0;
  }
}

.cobertura__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem auto;
  align-content: center;
}

@media (min-width: 768px) {
  .cobertura__flex {
    align-items: flex-start;
    margin: 0;
  }
}

.cobertura__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 70%;
}

@media (min-width: 768px) {
  .cobertura__info {
    width: 100%;
    justify-content: center;
    padding: 5rem;
  }
}

@media (min-width: 1024px) {
  .cobertura__info {
    align-items: flex-start;
    padding-right: 4rem;
    text-align: left;
  }
}

.cobertura__description {
  color: var(--negro);
  font-size: 2rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 174%;
  text-align: center;
}

@media (min-width: 1024px) {
  .cobertura__description {
    font-size: 1.6rem;
    text-align: left;
  }
}

.cobertura__description-span {
  font-weight: 900;
}

.cobertura__note {
  color: #686868;
  font-size: 1.2rem;
  font-family: Rubik;
  font-style: italic;
  font-weight: 400;
  line-height: 174%;
  text-align: center;
}

@media (min-width: 768px) {
  .cobertura__note {
    text-align: left;
  }
}

.cobertura__btn {
  display: block;
  padding: 1.5rem 0.25rem;
  width: 150px;
  text-align: center;
  color: var(--blanco);
  border-radius: 0.8rem;
  background-color: var(--secundario);
  margin: 2.7rem 0;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 700;
  line-height: 135.023%;
  cursor: pointer;
  transition-property: transform background-color;
  transition-duration: 0.3s ease;
}

.cobertura__btn:hover {
  background-color: var(--secundario-claro);
}

.cobertura__btn:active {
  transform: scale(0.9);
}

.beneficios__heading {
  color: var(--primario);
  font-size: 2.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 5rem 0 1rem 0;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .beneficios__heading {
    padding: 2rem 0 1rem 0;
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .beneficios__heading {
    font-size: 3.5rem;
  }
}

.beneficios__contenedor {
  width: 100%;
}

@media (min-width: 768px) {
  .beneficios__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
  }
}

.beneficios__listado {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.beneficios__header-desktop {
  display: none;
}

.beneficios__header-movil {
  padding: 3rem 3rem 1rem 3rem;
}

@media (min-width: 768px) {
  .beneficios__header-movil {
    display: none;
  }

  .beneficios__header-desktop {
    background-color: var(--primario);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 1rem 6rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .beneficios__header-desktop {
    padding: 1rem 6rem 1rem 6rem;
  }
}

@media (min-width: 1024px) {
  .beneficios__header-desktop {
    padding: 1rem 8rem 1rem 6rem;
  }
}

.beneficios__header-movil p {
  color: var(--secundario);
  font-family: Rubik;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.beneficios__header-desktop p {
  color: var(--blanco);
  font-size: 2rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.beneficio {
  background-color: var(--blanco);
  border-radius: 2rem;
  margin: 2rem;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition-property: transform;
  transition-duration: 0.3s;
}

@media (min-width: 768px) {
  .beneficio {
    padding: 1rem 3rem;
    flex-direction: row;
    gap: 5rem;
  }
}

.beneficio:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .beneficio__flex {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

.beneficio__description span {
  font-weight: 900;
}

.beneficio__description {
  color: var(--negro);
  font-size: 1.4rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 167.875%;
}

.beneficio__end {
  display: flex;
  justify-content: flex-end;
  gap: 3.9rem;
}

.beneficio__limite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .beneficio__limite {
    width: 20rem;
    max-width: 20rem;
    gap: 0.5rem;
    border-left: 1px solid #e6e6e6;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .beneficio__limite {
    width: 25rem;
    max-width: 25rem;
  }
}

.beneficio__limite-hasta {
  color: var(--secundario-claro);
  font-size: 1.4rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.beneficio__precio {
  color: var(--secundario-claro);
  font-size: 1.6rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.adquisicion__gradiente {
  background: linear-gradient(to bottom, #8600d3 25%, #cb0083 100%);
  width: 90%;
  margin: 2rem auto 8rem auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
}

@media (min-width: 1024px) {
  .adquisicion__gradiente {
    background: linear-gradient(to right, #8600d3 25%, #cb0083 100%);
    width: 100%;
    margin: 11rem auto;
    padding: 5rem 10rem;
  }
}

.adquisicion__heading {
  color: var(--blanco);
  text-align: center;
  font-family: Rubik;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .adquisicion__heading {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

.adquisicion__description {
  color: rgba(255, 255, 255, 0.83);
  text-align: center;
  font-size: 1.6rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.016rem;
}

.adquisicion__btn {
  display: block;
  padding: 1.5rem 0.25rem;
  width: 150px;
  text-align: center;
  background-color: var(--negro);
  border-radius: 0.8rem;
  color: #fffaf9;
  text-align: center;
  font-size: 1.5rem;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 2rem auto 2.5rem auto;
  cursor: pointer;
  transition-property: transform background-color;
  transition-duration: 0.3s ease;
}

@media (min-width: 768px) {
  .adquisicion__btn {
    width: 150px;
    margin: 2rem auto 0 auto;
  }
}

.adquisicion__btn:hover {
  background-color: #131313;
}

.adquisicion__btn:active {
  transform: scale(0.9);
}

.footer {
  background-color: #091242;
}

.footer__navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

@media (min-width: 768px) {
  .footer__navegacion {
    flex-direction: row;
    padding: 9rem 0;
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__logo {
    display: flex;
    flex-direction: row;
  }
}

.footer__logoInfo {
  display: flex;
  flex-direction: column;
  font-family: var(--fuenteLogo);
  text-align: center;
}

@media (min-width: 768px) {
  .footer__logoInfo {
    text-align: left;
  }
}

.footer__logoNombre {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--blanco);
  margin-bottom: 0.8rem;
}

.footer__logoRegistro {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 128.9%;
  color: var(--blanco);
  margin-bottom: 0.5rem;
}

.footer__logoRegistro p:first-child {
  padding-bottom: 0.5rem;
}

.footer__contactanos {
  display: flex;
  justify-content: flex-end;
  gap: 3.9rem;
  flex-grow: 1;
}

.footer__formulario {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.form__footer {
  display: flex;
  gap: 1rem;
}

.emailInput {
  padding: 2rem;
  border: 1px solid #4e5683;
  background-color: transparent;
  width: 100%;
  color: #999;
  font-size: 2rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__btn {
  display: block;
  padding: 1.9rem 3.6rem;
  text-align: center;
  background: linear-gradient(to right, #ffb629 0%, #ffda56 50%, #ffd7a6 100%);
  color: #23212a;
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
  border: none;
  cursor: pointer;
  transition-property: transform background-color;
  transition-duration: 0.3s ease;
}

.form__btn:hover {
  background-color: linear-gradient(
    to right,
    #e1a224 0%,
    #dfbf4c 50%,
    #d7b68e 100%
  );
}

.form__btn:active {
  transform: scale(0.9);
}

.form__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .form__icons {
    gap: 3rem;
    padding: 0 3rem;
  }
}

.footer__footer {
  border-top: 1px solid #4e5683;
  color: var(--blanco);
  font-size: 1.6rem;
  font-family: Krub;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
  padding: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__footer {
    text-align: left;
  }
}
